.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: blue;
  }

  .sidebar-container {
    height: inherit;
    background-color: aqua;

  }

  .component-drag-holder{
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    height: 50px;
    align-items: center;
    background-color: aliceblue;
  }

  .drag-component{
    flex: 1;
    padding: 10px;
    cursor: grab;
  }
  
.drop-target {
  /* create a glowing border */
  border: 2px dashed rgb(4, 217, 7);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #ccc;
}
  
  main {
    flex: 1;
    padding: 20px;
  }
  